In [1]:
import pandas as pd

In [3]:
raw1 = pd.read_csv(r'C:\Users\tjdtn\inflearn-llm-application\big-contest\data\new_서귀포시_관광지주소.csv')
raw2 = pd.read_csv(r'C:\Users\tjdtn\inflearn-llm-application\big-contest\data\제주시_관광지주소.csv')
df1 = raw1.copy()
df2 = raw2.copy()

In [4]:
df1.head(2)

          관광지명                관광지주소
0  제주 해바라기 펜션     서귀포시 표선면 세화리 1545
1   해비치 하우스 펜션  서귀포시 표선면 표선리 1282-5

In [9]:
df1.관광지주소.str.split().str[1].unique()

array(['표선면', '안덕면', '색달동', '성산읍', '호근동', '토평동', '상예동', '서홍동', '대포동',
       '중문동', '남원읍', '신효동', '서귀동', '법환동', '강정동', '서호동', '회수동', '하예동',
       '대정읍', '동홍동', '상효동'], dtype=object)

In [10]:
df2.head(2)

        관광지주소    관광지명            지번주소
0  제주시 삼무로 12    엠버호텔    제주시 연동 251-1
1  제주시 노형로 89  노형슈퍼마켙  제주시 해안동 2137-1

In [12]:
df2.지번주소.str.split().str[1].unique()

array(['연동', '해안동', '오등동', '이도일동', '노형동', '구좌읍', '애월읍', '한림읍', '조천읍',
       '우도면', '용담삼동', '외도일동', '삼도이동', '삼도일동', '이도이동', '이호일동', '건입동',
       '한경면'], dtype=object)